img{
    height:210px;
    width: 293px;
    margin: auto;
}
.card{
    text-align: center;
    color: black ;
    font-size: 15px;
    border: rgb(219, 238, 133) solid 4px;
    background-color: rgb(228, 226, 202);
}
